		<html>
		<head>
		<title></title>
		</head>
		<body ng-app="MonApp">	
				<div ng-controller="CommentsCtrl">
				<input type="text" ng-model="query"/>
				{{query}}
				
				<select ng-model="order">
					<option value="username">Organiser par nom</option>
					<option value="content">Organiser par contenu</option>
				</select>

	  
			<div ng-repeat="comment in comments | filter:{content: query} | orderBy:order">
				
				 <p>
					<strong>{{comment.username}}</strong><br>
					{{comment.content}}
				</p>

				<input type="text" ng-model="query"/>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js">
		</script>



		<script>

	var app = angular.module('MonApp', []);
	
	app.factory('PostFactory', function () {
		var factory= {
		posts : [
		]
		}
		return factory;
	})
		app.controller('PostsCtrl',function ($scope) {
			$scope.posts = []

			})

		app.controller('CommentsCtrl',function ($scope){ 
		// console.log($scope);

		$scope.comments = [

		  {
		    "username": "Keri",
		    "content": "Labore fugiat excepteur labore mollit commodo non est minim proident tempor est. Aute laborum enim occaecat est ex consectetur laborum enim reprehenderit nulla incididunt. Aliqua voluptate ea sint minim cillum veniam ad nisi ullamco cupidatat. Sit in duis aliqua duis nostrud adipisicing ullamco occaecat Lorem ea Lorem duis.",
		    "city": "Thermal"
		  },
		  {
		    "username": "Mcneil",
		    "content": "Non cillum dolor non Lorem reprehenderit culpa ut ipsum enim pariatur laboris pariatur aute. Do sint irure sint elit cillum ut ut occaecat esse. Duis ex deserunt laborum irure non. Anim aute ea culpa voluptate adipisicing.",
		    "city": "Strong"
		  },
		  {
		    "username": "Drake",
		    "content": "Incididunt elit occaecat aliqua irure qui officia excepteur pariatur do cillum consectetur exercitation incididunt. Nulla exercitation amet labore ullamco laborum ullamco. Irure veniam labore reprehenderit adipisicing incididunt. Occaecat cupidatat excepteur do enim cillum non et ipsum dolor aliqua amet occaecat excepteur minim.",
		    "city": "Sterling"
		  },
		  {
		    "username": "Melanie",
		    "content": "Officia officia esse deserunt eu laboris. Officia laboris esse aliquip labore ut laborum sit non mollit nostrud cupidatat deserunt pariatur. Aliquip ut reprehenderit consectetur culpa qui sunt dolore elit Lorem labore Lorem fugiat. Eiusmod nulla pariatur nostrud adipisicing mollit voluptate elit sunt et aliquip.",
		    "city": "Wyano"
		  },
		  {
		    "username": "Hawkins",
		    "content": "Ipsum veniam sit pariatur minim fugiat officia cupidatat consequat deserunt non adipisicing sunt consectetur. Ex in excepteur exercitation eiusmod cillum et excepteur occaecat irure esse mollit do. Nisi laborum ex nisi anim. Nisi Lorem Lorem ipsum sunt velit occaecat duis exercitation exercitation officia ut reprehenderit.",
		    "city": "Lydia"
		  }
		];
		})

		</script>
		</body> 
		</html>